:root {
    --primary-color: #36454f; /* Deep blue-grey */
    --accent-color: #febaad; /* Soft peachy tone */
    --bg-color: #f4f4f4; /* Light background to complement the deep primary */
    --dark-bg: #222; /* Dark background for contrast */
    --text-color: #333; /* Standard dark text color */
    --light-text: #fff; /* Light text for headers and footer */
    --button-hover: #e8a2b8; /* Lighter peach for button hover effect */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--light-text);
    padding: 1.5rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin: auto;
}

.theme-toggle {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.theme-toggle:hover {
    background-color: var(--button-hover);
}

main {
    padding: 3rem 2rem;
}

.task-input,
.task-list {
    margin-bottom: 3rem;
    background: var(--accent-color);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.task-input h2,
.task-list h2 {
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

form input,
form select,
form button {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
    font-size: 1rem;
}

form input:focus,
form select:focus {
    border-color: var(--accent-color);
    outline: none;
}

.add-task {
    background-color: var(--primary-color);
    color: var(--light-text);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}



.task-list {
    background: var(--bg-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    background-color: var(--accent-color);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.task.high {
    border-left: 6px solid #d9534f;
}

.task.medium {
    border-left: 6px solid #f0ad4e;
}

.task.low {
    border-left: 6px solid #5bc0de;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background: var(--primary-color);
    color: var(--light-text);
    font-size: 1rem;
}

footer span {
    font-weight: bold;
}
